<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="63030tobiasschulz.Markdown" Publisher="CN=CC6F6475-7A49-47D0-81D4-DEB73B0E908F" Version="1.1.0.28" />
  <Properties>
    <DisplayName>Markdown</DisplayName>
    <PublisherDisplayName>tobiasschulz</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="MarkdownApp.Windows.App">
      <m2:VisualElements DisplayName="Markdown" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="Markdown" ForegroundText="light" BackgroundColor="#006bb6" ToastCapable="false">
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
      </m2:VisualElements>
      <Extensions>
        <Extension Category="windows.fileTypeAssociation">
          <FileTypeAssociation Name="md">
            <DisplayName>Markdown</DisplayName>
            <Logo>Assets\fileicon-markdown.png</Logo>
            <InfoTip>Markdown</InfoTip>
            <EditFlags OpenIsSafe="true" />
            <SupportedFileTypes>
              <FileType ContentType="text/markdown">.md</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
        <Extension Category="windows.fileTypeAssociation">
          <FileTypeAssociation Name="note">
            <DisplayName>Ink</DisplayName>
            <Logo>Assets\fileicon-markdown.png</Logo>
            <InfoTip>Ink</InfoTip>
            <EditFlags OpenIsSafe="true" />
            <SupportedFileTypes>
              <FileType ContentType="text/x-note">.note</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>